@font-face {
  src: url(UthmanTN1-Ver10.otf);
  font-family: QuranFont;
}

body {
  color: #fff;
  position: relative;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -2;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
  z-index: -1;
}

.verse {
  font-size: 40px;
  width: 70%;
  text-align: center;
  line-height: 210%;
  font-family: QuranFont;
  opacity: 0;
  margin-bottom: 10px;
}

.verse-details {
  font-size: 30px;
}

.audio-player {
  opacity: .5;
  transition: opacity .2s;
}

.audio-player:hover {
  opacity: 1;
}

.audio-player img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
